<%= form_with(model: reminder, local: true, html: {:role => 'form'}) do |form| %>
    <div class="box-body">
      <% if reminder.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(reminder.errors.count, "error") %> prohibited this reminder from being saved:</h2>

            <ul>
              <% reminder.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="form-group">
        <%= form.label 'Data' %>
        <div class="input-group date">
          <div class="input-group-addon"><i class="fa fa-clock-o"></i></div>
          <%= form.datetime_select :date, class: 'form-control pull-right', id: 'datepicker' %>
        </div>
      </div>

      <div class="form-group">
        <%= form.label 'Livro', for: :book_pages %>
        <%= collection_select(:reminder, :book_id, Book.all, :id, :name,{prompt:true},class:'form-control')%>
      </div>
    </div>
    <div class="box-footer">
      <%= form.submit 'Salvar', type: 'submit', class: 'btn btn-primary' %>
    </div>
<% end %>
