<p id="notice"><%= notice %></p>
<section class="content-header">
  <h1>Lembretes</h1>
</section>
<section class="content">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Listagem de
          lembretes</h3> <%= link_to 'Novo Lembrete', new_reminder_path, class: 'btn btn-primary  pull-right' %>
      </div>
      <div class="box-body no-padding">
        <table class="table table-striped">
          <tr>
            <th>Livro</th>
            <th>Data</th>
            <th>Ações</th>
          </tr>
          <% @reminders.each do |reminder| %>
              <tr>
                <td><%= reminder.book.name%></td>
                <td><%= date_format reminder.date %></td>
                <td><a href="books/<%= reminder.id %>" class="btn btn-primary btn-xs"><i class="fa fa-bars"></i></a>
                  <a href="<%= edit_reminder_path(reminder) %>" class="btn btn-warning btn-xs"><i class="fa fa-pencil"></i></a>
                  <a href="reminders/<%= reminder.id %>" class='btn btn-danger btn-xs' data-method="delete" data-confirm="Tem Certeza?"><i class="fa fa-trash-o"></i></a>
                </td>
              </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</section>
