<section class="content-header">
  <h1>Lembretes</h1>
</section>
<section class="content">
  <div class="box box-primary">
    <div class="box-header whit-border">
      <h3 class="box-title">Novo Lembrete</h3>
    </div>
    <%= render 'form', reminder: @reminder %>
  </div>
</section>


