<%= form_with(model: book, local: true, html:{:role=>'form'}) do |form| %>
    <div class="box-body">
      <% if book.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

            <ul>
              <% book.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="form-group">
        <%= form.label 'Nome', for: :book_name %>
        <%= form.text_field :name, id: :book_name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label 'Paginas',for: :book_pages %>
        <%= form.number_field :pages, id: :book_pages, class: 'form-control'%>
      </div>
      <div class="form-group">
        <%= form.label 'Foto' %>
        <%= form.file_field :avatar, class: 'form-control' %>
      </div>

    </div>
    <div class="box-footer">
      <%= form.submit 'Salvar', type:'submit', class:'btn btn-primary'%>
      <%= link_to 'Cancelar', books_path, class:'btn btn-danger' %>
    </div>
<% end %>
