<section class="content-header">
  <h1>Livros</h1>
</section>
<section class="content">
  <div class="box box-primary">
    <div class="box-header whit-border">
      <h3 class="box-title">Editar Livro</h3>
    </div>
    <%= render 'form', book: @book %>
  </div>
</section>


