<p id="notice"><%= notice %></p>
<section class="content-header">
  <h1>Livro</h1>
</section>
<section class="content">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Listagem de
          livros</h3> <%= link_to 'Novo Livro', new_book_path, class: 'btn btn-primary  pull-right' %>
      </div>
      <div class="box-body no-padding">
        <table class="table table-striped">
          <tr>
            <th colspan="2">Nome</th>
            <th>Paginas</th>
            <th>Ações</th>
          </tr>
          <% @books.each do |book| %>
              <tr>
                <td colspan="2"><%= image_tag book.avatar.url(:thumb) %> <%= book.name %></td>
                <td><%= book.pages %></td>
                <td><a href="books/<%= book.id %>" class="btn btn-primary btn-xs"><i class="fa fa-bars"></i></a>
                  <a href="<%= edit_book_path(book) %>" class="btn btn-warning btn-xs"><i class="fa fa-pencil"></i></a>
                  <a href="books/<%= book.id %>" class='btn btn-danger btn-xs' data-method="delete" data-confirm="Tem Certeza?"><i class="fa fa-trash-o"></i></a>
                </td>
              </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</section>
