<!DOCTYPE html>
<html>
<head>
  <title>Book's Time</title>
  <%= csrf_meta_tags %>
  <link rel="manifest" href="/manifest.json">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'bootstrap/bootstrap.min.css',
                          'font-awesome/css/font-awesome.min',
                          'Ionicons/css/ionicons.min',
                          'admin/AdminLTE.min',
                          'admin/skins/skin-blue',
                          'datepicker/bootstrap-datepicker.min'%>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'jquery.slimscroll.min',
                             'bootstrap.min',
                             'fastclick',
                             'pages/dashboard2',
                             'datepicker/js/bootstrap-datepicker.min',
                             'adminlte.min',
                             'demo'
  %>

</head>

<body class="skin-blue sidebar-mini">
<script>
    window.vapidPublicKey = new Uint8Array(<%= @decodedVapidPublicKey %>);
</script>
<div class="wrapper">
  <header class="main-header">
    <a href="" class="logo"></a>
    <nav class="navbar navbar-static-top">
      <a href="" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li class="dropdown notifications-menu">
            <a href="" class="dropdown-toogle" data-toggle="dropdown" aria-expanded = "false">
              <i class="fa fa-bell-o"></i>
              <span class="label label-warning">10</span>
            </a>
          </li>
          <li class="dropdown notifications-menu">
            <a href="" class="dropdown-toogle" data-toggle="dropdown" aria-expanded = "false">
              <i class="fa fa-flag-o"></i>
              <span class="label label-warning">10</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <aside class="main-sidebar">
    <section class="sidebar">
      <ul class="sidebar-menu tree" data-widget="tree">
        <li class="header">MENU DE NAVEGAÇÃO</li>
        <li><a href="<%=books_path%>"><span>Livros</span></a></li>
        <li><a href="<%=reminders_path%>"><span>Lembretes</span></a></li>
      </ul>
    </section>
  </aside>
  <div class="content-wrapper">
    <%= yield %>
  </div>
  <footer class="main-footer"></footer>
  <aside class="control-sidebar control-sidebar-dark"></aside>
  <div class="control-sidebar-bg"></div>
</div>
</body>
</html>
